body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Optional: Set a background color */
}

img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
    aspect-ratio: 9 / 16;
}

form {
    position: absolute;
    bottom: 20px;
    width: 90%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: white;
}